.animated{
  
    transform-origin: center;
}
.hiddenElement{
    opacity: 0;
    transform: scale(0);
    transition: 0s;
    
}
.showingElement{
    opacity: 1;
    transform: scale(1);
    transition: .5s;
}