.equipment__page{
   background-color:var(--darkBlue) ;
    min-width: 100dvw; height: 101vh;
    transform: translateZ(50px);

    
}

.heading__equipment-profitabele{
    text-align: center;
    text-wrap: balance;
    font-size: calc(var(--responsive-fs) - 6px);
}
