
@import url('./heading.css');
@import url('./animated.css');
@import url('./anchor.css');

@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Medium.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}



body{
    font-family: var(--primary-font);
 
    scroll-behavior: smooth;

    
   
}
/* .main::-webkit-scrollbar{
background-color: var(--darkBlue);
}
.main::-webkit-scrollbar-thumb{
background-color: var(--lightBlue);
} */

:root{
    --darkBlue : rgb(0, 6, 88);
    --lightBlue: rgb(0, 68, 255);
    --white-mix: aliceblue;
    --primary-font: 'inter', sans-serif;
    --font-color: rgb(43, 180, 15);
    --buttons-font: 'inter' , 'sans-serif';
    --special-text-color:springgreen;
    --letter-spacing:1.5px;
    --regular-blur:blur(10px);
    --cage-hight:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --responsive-fs:calc(1rem + 1vw - 5px);
}




.main{
    width: 100vw;
    height: 100vh;
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    
}
.page{
    scroll-behavior: smooth;
    width:100vw;
    height: 100vh; 
    transition: .4s;
   
}










































/* 
left nav bar _______________________________________*/

















































/* GENERAL STYLES OF PAGES_______________________________________________ */





.home__page{

    display: flex;
   z-index: -10;
 
}







.container--left{
    width: 60vw;height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;

}
.container--right{
    width: 40vw;height: 100vh;
    background: linear-gradient(60deg, rgb(51, 92, 228) 0%, rgb(1, 0, 56) 100%);
    box-shadow: 0 0 5px var(--darkBlue);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    justify-items: start;
    position: relative;
  
}










.namingProduct--left{
position: absolute;
top: 30px;padding: 10px 10px;
margin-right:0px;
font-size: calc(var(--responsive-fs) + 5px);
font-weight: 500;
text-wrap: nowrap;
color: var(--darkBlue);
z-index: 20;

}

.namingProduct--right{
    font-size: calc(var(--responsive-fs) + 5px);
    font-weight: 500;
    text-wrap: nowrap;
    color: var(--white-mix);
    z-index: 20;
    position: absolute;
    top: 30px;
    padding: 10px 10px;
}







.video-pic {
    background-color: transparent;
    width: clamp(300px, 29vw, 600px); 
    height: clamp(300px, 25vw, 400px);
    position: absolute;
    top: 50vh;left:20%;
    transform: translate(-50%, -50%);
    z-index: 0;
    
}
.video-pic video{
    width: inherit;
    aspect-ratio: 1/1;
}


.desc-list{
    width: 100%;height:60%;
    display: flex;flex-direction: column;
    row-gap: 10px; 

    justify-content: center;


  position: absolute;
  top: 50vh;left: 0px;
  transform: translateY(-50%);



    background-color: transparent;
 
    padding-right: 4vw;

}
.desc-list li{
   
    height: auto;
     font-size: calc(var(--responsive-fs) - 6px);
     color: var(--white-mix);
     position: relative;
    top: 20px;
    margin-left: 35px;
}
.desc-list li:is(:last-child, :nth-child(4) ){
    top: 15px;
}
.desc-list li::before{
    content: '';
    display: inline-block;
    width: 20px;aspect-ratio: 1;
    background-color: red;
    left: -25px;
    position: absolute;

}

.product-icon{
    position: absolute;
    top: 25vh;left: 0;
    width: 100%;
    display: flex;justify-content: center;
    z-index: 1000;
    transform: scale(2);
}








.btn-wrapper{
    position: absolute;
   
    
    width:100%; 
    bottom: 0;
    z-index: 1000;
    display: flex; flex-direction: column-reverse;
    align-items: center;
    
    
}

.get-started--left{
    
 
   
    display: flex;
    align-items: center;
   
    background-color:var(--darkBlue);
    color: var(--white-mix); 
    justify-content: start;


    
    
    height: clamp(40px, 10vh, 50px);width: clamp(50px, 60%, 500px);
    padding: 10px;
    transition: .3s;
}
.get-started--right{

    
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row-reverse;
    background-color: var(--white-mix);
    color: var(--darkBlue);
    column-gap: 5px;
       
    
    height: clamp(40px, 10vh, 50px);width: clamp(50px, 60%, 500px);
    padding: 10px;
    font-weight: 600;

    transition: .3s;
    
}
:is(.get-started--left, .get-started--right) :where(span){
 font-size: calc(var(--responsive-fs) - 5px);
 text-transform: uppercase;
 text-wrap: nowrap;

}
.get-started--right:hover{
  box-shadow: 0 0 5px var(--white-mix);
}
.get-started--left:hover{
    box-shadow:inset  0 0 10px 1px var(--lightBlue);
    background-color: rgb(0, 0, 221);
}








.main__nav{
    height: 20px; width:;
    background-color: transparent;
    z-index:999;
    position: absolute;
    left: 50%;
    transform: translateX(-24%);
    display:flex;
    column-gap: 20px;
    color: var(--darkBlue);
    

    }
   




.main__nav input{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}   

.r/*radiobtn*/{
    font-size: calc(16px + .4%);
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    cursor:pointer;
    transition: .3s;
}    

  

  
.colorGiverBlackBlue{
    color:rgb(0, 255, 76);
}
.colorGiverRightSide{
    color: aliceblue;
}

.r:active{
    color: rgb(0, 225, 255);
}    
















