
@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Medium.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}



body{
    font-family: var(--primary-font);
    overflow: hidden;
    scroll-behavior: smooth;

    
   
}
.main::-webkit-scrollbar{
    display: none;
}

:root{
    --primary-font: 'inter', sans-serif;
    --font-color: rgb(1, 1, 54);
    --buttons-font: 'inter' , 'sans-serif';
    --special-text-color:springgreen;
    --letter-spacing:1.5px;
    --regular-blur:blur(10px);
    --cage-hight:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --responsive-fs:calc(1rem + 1vw);
}













































/* 
left nav bar _______________________________________*/
.side-nav{
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side-nav__list{  
height: 50px;
width: max-content;
margin: auto ;
list-style: none;
display: flex;
column-gap: 20px;
text-transform: uppercase;
font-family: var(--primary-font);


}
.side-nav__list-row{
    height: 30px;
    align-self: center;
    line-height: 26px;
    user-select: none;
}
.side-nav__list-row:hover .side-nav__link {
    color: rgb(0, 0, 126);
    -webkit-text-stroke: .1px rgb(155, 155, 255);
}
.heading{   
    display: flex;
    position:relative;
    align-self: flex-start;
    left: 15px;
    top: 34px;
    font-size: var(--middle-fs);
    font-weight: 900;
    z-index: 1000;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(10px);
    transition: .2s;

}
.home__page .heading{
  color:   rgb(0, 0, 0);
}
.chengeColor{
color: aqua;
}
.showingHead{
    opacity: 1;
    transform: translateY(-1px);
}
.heading::after{
content: '';
width: 15px;
height: 15px;
background-color: black;
display: inline-block;
position: relative;
border-radius: 50%;
right: 100%;
margin-top: 1%;

}
#menu-opener{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
}
.menu-opener{
    display: none;
}









.side-nav__link span{margin-left: 5px;}
.side-nav img {
    max-width: 30px;
}















































/* GENERAL STYLES OF PAGES_______________________________________________ */

.main{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
.page{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width:100vw;
    height: 100vh; 
    margin: auto;
}







.home__page{
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
}
















.introducing-product{
   transition: .5s;
    margin: auto;
    display: grid;
    grid-template-columns:  repeat(2, clamp(400px, 40vw, 900px));
    grid-template-rows:minmax(20px, min-content) clamp(500px, 60vh, 700px);

}

.book-pic{
    grid-column: 1/1;
    grid-row: 2/5;
    align-self:flex-start;
    justify-self: center;
    
}

.book-pic img{
    width: clamp(400px, 40vw, 700px);
    position: relative;
    right: 0%; 
    top: 60px;
    z-index: 0;
}
.desc-list{
    height: 390px;
   align-self: center;
   justify-content:flex-end;
    grid-column: 2/4;
    grid-row: 2;
   position: relative;
    display: flex;
    flex-direction: column-reverse;
    row-gap: var(--responsive-fs);
    text-align: center;
    list-style: none;
   

}

.desc-list li{
    position: relative;
    top: 20%;
    transform: translateY(50%);
    font-size: var(--responsive-fs);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
















.home-page__bts-getStart_wrapper{
    grid-column: 2/2;
    grid-row: 3/5;
    justify-self: center;
    position: relative;
    bottom:min(200px, 100%) ;
    text-transform: uppercase;

    
}


.get-started{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    color: rgb(0, 0, 126);
    padding: 20px 30px;
    font-weight: 600;
    transition: .4s;
}
.home-page__bts-getStart_wrapper:hover .get-started{
   margin-left: 15px;
   background-color: gainsboro;
  
}
.home-page__bts-getStart_wrapper:active .get-started{
   opacity: 0;
   transition-delay: .1s;
   transition: 0s;
}



.get-started img{    
position: relative;
bottom: 5px;
    
}























.ourProductIs{
    width: 70vw; 
    padding: 10px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    column-gap: calc(var(--responsive-fs));
    align-items: center;
    justify-content: center;
    justify-items: center;
    position:relative;
    top: 200%;
   z-index: 100;
    font-size: var(--responsive-fs);
    color: rgb(0, 0, 126);

}

.sub-line{
    width:20vw;
    height: 2px;
    display: inline-block;
    background-color: black;
    position: relative;

  
}

.sub-line::after{
content: '';
width: calc(1rem + .1vw);
height: calc(1rem + .1vw);
background-color: black;
display: inline-block;
position: absolute;
border-radius: 50%;
bottom: 50%;
transform: translateY(50%);
}
.sub-line::before{
    content: '';
    width: calc(1rem + .1vw);
    height: calc(1rem + .1vw);
    background-color: black;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 50%;
    
}






































































/* ________________________media____requests___________ */



/* 



.menu-opener{
    display: inline-block;
    position: absolute;
    top: 60px;
}
#menu-opener:checked ~ .side-nav{
    transform: rotateY(9deg);
    opacity: 1;
} */
