
@import url('./heading.css');
@import url('./animated.css');

@font-face {
    font-family: inter;
    src: url(../fonts/inter/Inter-Medium.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}



body{
    font-family: var(--primary-font);
    overflow: hidden;
    scroll-behavior: smooth;

    
   
}
/* .main::-webkit-scrollbar{
background-color: var(--darkBlue);

}
.main::-webkit-scrollbar-thumb{
background-color: var(--lightBlue);
} */

:root{
    --darkBlue : rgb(0, 6, 88);
    --lightBlue: rgb(0, 68, 255);
    --white-mix: aliceblue;
    --primary-font: 'inter', sans-serif;
    --font-color: rgb(43, 180, 15);
    --buttons-font: 'inter' , 'sans-serif';
    --special-text-color:springgreen;
    --letter-spacing:1.5px;
    --regular-blur:blur(10px);
    --cage-hight:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --responsive-fs:calc(1rem + 1vw - 5px);
}




.main{
    width: 100vw;
    height: 100vh;
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    perspective-origin: 100px;
}
.page{
    scroll-behavior: smooth;
    
    width:100vw;
    height: 100vh; 
    transition: .4s;
}










































/* 
left nav bar _______________________________________*/

















































/* GENERAL STYLES OF PAGES_______________________________________________ */





.home__page{
    overflow: hidden;
    display: flex;
   z-index: -10;
   
}







.container--left{
    width: 60vw;height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    transform: translateZ(-10px);
   
}
.container--right{
    width: 40vw;height: 100vh;
    background-color:var(--lightBlue);
    box-shadow: 0 0 10px var(--darkBlue);
    display: inline-flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    transform: translateZ(-10px);
}








.main-nav--left{
    position: fixed;
    z-index:999;
    margin-right:5px;
    display:flex;
    column-gap: 20px;
    }
    .main-mav--right{
        position: fixed;
    z-index:999;
    margin-left: 5px;
    display:flex;
    column-gap: 20px;
    align-self: start;
    }
    
    
    
    



.namingProduct--left{
position: absolute;
top: 10vh;
font-size: calc(var(--responsive-fs) + 5px);
font-weight: 500;
margin-right:5px;
color: var(--darkBlue);
    text-wrap: nowrap;
}

.namingProduct--right{
    position: absolute;
    top: 10vh;
    font-size: calc(var(--responsive-fs) + 5px);
    font-weight: 500;
    margin-left: 5px;
    color: var(--white-mix);
    text-wrap: nowrap;
}







.book-pic{
    position: absolute;
    top:50vh;
    transform: translateY(-50%);
}

.desc-list{
    width: clamp(300px, 35vw, 600px);height: 350px;
    display: flex;flex-direction: column;
    justify-content: space-evenly;



  position: absolute;
  top:50vh;left: -5px;
  transform: translateY(-50%);



    list-style: none;
    background-color: var(--darkBlue);
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    border: 1px solid lightseagreen;
    border-left: none;
    padding-right: 4vw;

}
.desc-list li{
  font-size: var(--responsive-fs);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--white-mix);
  margin-left: 5px;
}













.get-started--left{
    position:absolute ;
    top:calc(300px + 40vh   );

    display: flex;
    align-items: center;

    background-color:var(--darkBlue);
    color: var(--white-mix); 
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    
    
    height: 50px;width: max-content;
    padding: 10px;


}
.get-started--right{
    position:absolute ;
    top:calc(300px + 40vh   ); left: -5px;

    display: flex;
    align-items: center;

    background-color: var(--white-mix);
    color: var(--darkBlue);
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px ;

       
    height: 50px;width: max-content;
    padding: 10px;
    font-weight: 600;
    
}
:is(.get-started--left, .get-started--right) :where(span){
 font-size: calc(var(--responsive-fs) - 5px);
 text-transform: uppercase;
 text-wrap: nowrap;
}











:is(.r5, .r6, .r7){
    color:var(--white-mix) ;
}
:is(.r1, .r2, .r3, .r4){

}

:is(.container--right, .container--left) input{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}   

.r{
    font-size: calc(16px + .4%);
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    cursor:pointer;
    transition: .3s;
}    

  

.colorGiver{
    color: var(--lightBlue);
    
}    

.r:active{
    color: rgb(0, 225, 255);
}    
















